fastapi==0.109.0
redis==5.0.3
types-redis==4.6.0.8
pydantic==2.6.4
uvicorn==0.15.0
pydantic-settings==2.2.1
sqlalchemy==2.0.29
aioredis==2.0.1
async-timeout==4.0.3
python-dotenv==1.0.1
asyncpg==0.29.0
alembic==1.13.1
bcrypt==4.1.2
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.9
apscheduler==3.10.4

